# Encrypted credentials
KMS_KEY_ID=
ENCRYPTED_PRIVATE_KEY=

# HTTPs providers
MAINNET_HTTPS_URL=
ROPSTEN_HTTPS_URL=
LOCAL_MAINNET_HTTPS_URL=https://127.0.0.1:8545

# Account's private keys
MAINNET_PRIVATE_KEY=
ROPSTEN_PRIVATE_KEY=
LOCAL_MAINNET_PRIVATE_KEY=0xfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff

# Mocha (10 minutes)
MOCHA_TIMEOUT=600000

# Coinmarketcap (optional, only for gas reporting)
COINMARKETCAP_API_KEY=
COINMARKETCAP_DEFAULT_CURRENCY=USD

# Etherscan (optional, only for verifying smart contracts)
ETHERSCAN_API_KEY=
