# General
node_modules
.DS_STORE
yarn-error.log

# Coverage
coverage.json
coverage

# ETH-SDK
eth-sdk/abis

# Hardhat files
cache
artifacts
typechained
deployments/hardhat
deployments/localhost

# Config files
.env

# Not ignore gitkeep
!/**/.gitkeep
