# General
node_modules
.DS_STORE

# Coverage
coverage.json
coverage

# Hardhat files
cache
artifacts
typechained
deployments/hardhat
deployments/localhost

# Config files
.env

# Not ignore gitkeep
!/**/.gitkeep