# General
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.env.example
.env
workspace.code-workspace
.DS_STORE

# Hardhat
artifacts
cache

# JS
node_modules
package-lock.json
yarn.lock

# Solidity
contracts/mock
